<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <form action="/getByID" method="post">  
            <table>  
                <tr>  
                    <td><label for="PID">Person ID </label></td>  
                    <td><input type="text" name="pid" ></input></td>  
                </tr>  
                  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="GET Person"></input></td>  
                </tr>  
            </table>  
        </form>  
</body>
</html>
