<html lang="en">  
    <head>  
        <title>Index Page</title>  
    </head>  
    <body>  
        <form action="/add-person" method="post">  
            <table>  
                <tr>  
                    <td><label for="PID">Person ID</label></td>  
                    <td><input type="text" name="pid"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="pname">Person Name</label></td>  
                    <td><input type="text" name="pname"></input></td>  
                </tr> 
                <tr>  
                    <td><label for="pjob">Person Job</label></td>  
                    <td><input type="text" name="pjob"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  
