<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>  
        <title>Update Page</title>  
    </head>  
    <body>  
        <form action="/updateMe" method="post">  
            <table>  
                <tr>  
                    <td><label for="PID">Person ID </label></td>  
                    <td><input type="text" name="pid"  th:value="${person.pid}" readonly></input></td>  
                </tr>  
                <tr>  
                    <td><label for="pname">Person Name</label></td>  
                    <td><input type="text" name="pname"  th:value="${person.pname}" readonly></input></td>  
                </tr> 
                <tr>  
                    <td><label for="pjob">Person Job</label></td>  
                    <td><input type="text" name="pjob"  th:value="${person.pjob}"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  

